APP_NAME="La Ventanita POS"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=${svc}_db
DB_USERNAME=${svc}_user
DB_PASSWORD=${svc}_pass

JWT_SECRET=secret_jwt_key
INTERNAL_API_KEY=internal_api_key
DEFAULT_SUCURSAL_ID=1
DEFAULT_USER_ID=1

API_GATEWAY_SECRET=secret_api_gateway
AUTH_SERVICE_URL=http://auth:8000/api
PRODUCTS_SERVICE_URL=http://products:8000/api
SALES_SERVICE_URL=http://sales:8000/api
INVENTORY_SERVICE_URL=http://inventory:8000/api
